
fieldset { 
    border:none; 
    margin: 0;
    padding-bottom: 30px;
}
legend { 
    font-size:18px; 
    color:#bb0b05; 
    float: left;
    
}

.overlay {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
}

.close-popup {
    z-index: 4;
    position: absolute;
    top: -42px;
    right: 15px;
    height: 31px;
    width: 31px;
    cursor: pointer;
}

.close-popup::before {
    position: absolute;
    content: '';
    background-color: #fff;
    height: 3px;
    width: 31px;
    top: 14px;
    left: -4px;
    transform: rotate(-45deg);
}

.close-popup::after {
    position: absolute;
    content: '';
    background-color: #fff;
    height: 3px;
    width: 31px;
    top: 14px;
    left: -4px;
    transform: rotate(45deg);
}

.popup{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
    width: 700px;
    text-align: right;    
    background-color:#fff;
    margin:100px auto 0 auto;
    border: 2px solid #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 -50px 0 #333;
}

#caption {
    position: absolute;
    margin-top: -35px;
    margin-left: 10px;
    color: #fff;
}

form{
    position: relative;
    margin-top: 10px;
}

.sub{
    display: flex;
    width: 700px;
    margin: 40px auto;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.box{
    text-align: left;
    flex: 1 1 250px;
}

.left{
    margin-left: 5px;
    height: 280px;
}

#step0{
    height: 440px;
}

.right{
    margin-left:95px;
    height: 280px;
}

.row{
    width: 300px;
    height: 78px;
    margin-bottom: 15px;
}

input{
    margin: 4px 0 0 0px;
    font-size: 18px;
    color:  #333; 
    width: 250px;
    height: 46px;
    border: 2px solid #333;
    padding: 0 0 0 20px;
    border-radius: 2px;
}


#group_box{
    width: 80px;
}

select{
    margin: 4px 0 0 0px;
    font-size: 18px;
    color:  #333; 
    height: 50px;
    border: 2px solid #333;
    padding: 0 0 0 5px;
    border-radius: 2px;
}

#group{ 
    width: 90px;
}

label{
    font-family: 'Century Gothic';
    font-size: 18px;
    color:  rgb(42, 42, 42);

}



.prev, .next, .btnForm { 
    padding: 13px 30px;
    margin:5px 25px 20px 0;
    font-size: 15px;
    color:#fff;
    background-color: #333;
    border:none;
    border: 1px solid #bb0b05;
    border-bottom: 4px solid #bb0b05;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.btnForm{
    position: absolute;
    top: 342px;
    right: 5px;
    vertical-align: middle;
    text-align: center;
    float: right;
    padding-bottom: 13px;
    width: 150px;
    height: 51px;
    font-size: 20px;
}



.prev:hover, .next:hover, .btnForm:hover {
    text-decoration: none; 
    transition: all 0.2s;
    border: 1px solid #bb0b05;
    border-bottom: 4px solid #bb0b05;
    background: #fff;
    color: #bb0b05;
}

.prev:active, .next:active, .btnForm:active {
    text-decoration: none; 
    transition: all 0.3s;
    border: 1px solid #bb0b05;
    border-bottom: 1px solid #bb0b05;
    background: #fff;
    color: #bb0b05;
}

.prev { 
    float:left;
    margin-left: 5px;
}
.next { 
    float:right;
    margin-right: 50px;
}
#steps { 
    list-style:none; 
    width:100%; 
    overflow:hidden; 
    margin:0px; 
    padding:0px;
    margin-left: 25%;
    
}
#steps li {
    text-align: center;
    font-size:24px; 
    float:left; 
    padding:10px; 
    color:rgba(0,0,0,0.2);
}
#steps li span {
    font-size:11px; 
    display:block;}
#steps li.current { 
    color:#bb0b05;
}
